.content, .stuck{
    margin-left: 56px;
    margin-right: 56px;
}
body{
    text-align: center;
}
ol{
    text-align: left;
}
p body, .content, .stuck{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#principles{
    padding: 10px;
    padding-left: 40px;
}
.header, h1, p .header{
    margin: 10px;
}

.reference, .end {
    color: rgb(131, 131, 131);
}   
.end{
    font-size: 12px;
}
#introduction, #keep-going{
    margin-left: 88px;
    margin-right: 88px;
}
#unstuck{
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    margin: -2px;
    padding: 2px;
}

#steps .step{
    padding-top: 8px;
    padding-bottom: 4px;
    font-weight: bold;
}